.row.mb-20
  .col-sm-3
    = render 'short_address', object: @shipping_address
  .col-sm-3
    = render 'short_address', object: @billing_address
  .col-sm-3
    %h3.general-subtitle Shipments
    %p.general-address
      = @shipping.product.title
      %a.general-edit{href: checkouts_path(params.permit(:edit).merge(:edit => 'delivery'))} edit
      %br
      = @shipping.product.description
  .col-sm-3
    %h3.general-subtitle Payment Information
    %p.general-address
      = @payment.four_numbers_of_card
      %a.general-edit{href: checkouts_path(params.permit(:edit).merge(:edit => 'payment'))} edit
      %br
      = @payment.mm_yy
.visible-xs
  = render 'order_items/order_items_v_xs'
.hidden-xs.divider-lg.pt-20
  %table.table.table-hover
    %thead
      %tr
        %th
          %span.in-grey-600 Book
        %th.col-method
        %th
          %span.in-grey-600 Price
        %th
          %span.in-grey-600 Quantity
        %th
          %span.in-grey-600 Total
    %tbody
      = render 'order_items/order_items_h_xs'
