%h3.general-subtitle= t('.credit_card')
= fields_for presenter.current_payment_form do |f|
  .max-600.mb-80
    .form-group{class: ("has-error" if presenter.current_payment_form.errors.messages.include?(:card_number) )}
      %label.control-label.font-weight-light{for: :card_number}= t('.card_number')
      = f.text_field :card_number, type: "number", placeholder: t('.card_number'), class: 'form-control'
      %span.help-block= presenter.current_payment_form.errors.full_messages_for(:card_number).first
    .row
      .col-sm-6
        .form-group{class: ("has-error" if presenter.current_payment_form.errors.messages.include?(:name_on_card) )}
          %label.control-label.font-weight-light{for: :name_on_card}= t('.card_name')
          = f.text_field :name_on_card, type: "text", placeholder: t('.card_name'), class: 'form-control'
          %span.help-block= presenter.current_payment_form.errors.full_messages_for(:name_on_card).first
      .col-sm-3
        .form-group{:class => ("has-error" if presenter.current_payment_form.errors.messages.include?(:mm_yy) )}
          %label.control-label.font-weight-light{for: :mm_yy}= t('.mm_yy')
          = f.text_field :mm_yy, type: "text", placeholder: t('.mm_yy'), class: 'form-control'
          %span.help-block= presenter.current_payment_form.errors.full_messages_for(:mm_yy).first
      .col-sm-3
        .form-group.relative{:class => ("has-error" if presenter.current_payment_form.errors.messages.include?(:cvv) )}
          %label.control-label.font-weight-light{for: :cvv}= t('.cvv')
          = f.password_field :cvv, type: "password", placeholder: t('.cvv'), class: 'form-control'
          %span.help-block= presenter.current_payment_form.errors.full_messages_for(:cvv).first
